{% load staticfiles %}
{% csrf_token %}

<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Amaranth:400,700,400italic' rel='stylesheet' type='text/css'>
    <meta charset="utf-8" />
    <title>Video tutorials</title>    
	<link rel="stylesheet" type="text/css" href="{% static 'subgoal/css/styles.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'subgoal/css/jquery-impromptu.css' %}" />
</head>
	<body>
		<div id="toolbar">
			<span id="page_title">
				<a class="toolbar_text" href="{% url 'index' %}">crowdy</a>
			</span>
			<span id="help_link">
				<a class="toolbar_text" href="{% url 'help' %}">Help</a>
			</span>
			<span id="about_link">
				<a class="toolbar_text" href="{% url 'about' %}">About</a>
			</span>
		</div>
		<div id="instr_bar_top">
			How to use this site
		</div>
		<div class="wrapper">
			<div class="content_wrapper_info">
<!-- 				<div class="help_page_title">
					How to use this site
				</div> -->
				<div class="help_step_title">
					1. Choose
				</div>
				<div class="help_step_text">
					Find a video that you're interested in learning more about.
				</div>
				<div class="help_step_title">
					2. Information
				</div>
				<div class="help_step_text">
					We written out the steps that the video goes through.
				</div>
				<div class="help_step_text">
					Click on the steps to jump to that point in the video.
				</div>
				<div class="help_step_title">
					3. Watch
				</div>
				<div class="help_step_text">
					Watch the video as you normally would.
				</div>
				<div class="help_step_title">
					4. Summarize
				</div>
				<div class="help_step_text">
					Periodically, we'll stop the video and ask you to summarize what you've watched.
				</div>
				<div class="help_step_text">
					Be specific to the section of the video that you just saw. Other users may see what you've written.
				</div>
				<div class="help_step_title">
					5. Example
				</div>
				<div class="help_step_text">
					Here's an example of a video about baking a cake. The video just covered the following steps:
				</div>
				<div class="help_step_text_sub">
					1. Put 1 cup of flour into a separate bowl
				</div>
				<div class="help_step_text_sub">
					2. Add 2 tbsp of baking powder
				</div>
				<div class="help_step_text_sub">
					3. Add 1/2 cup of sugar
				</div>
				<div class="help_step_text">
					The video stops and asks:
				</div>
				<div class="help_step_text_sub">
					What was the overall goal of the video section you just watched?
				</div>
				<div class="help_step_text">
					You might answer:
				</div>
				<div class="help_step_text_sub">
					Mix the dry ingredients
				</div>
				<div class="help_step_text bold">
					See, it's easy!
				</div>
			</div>
		</div>

	</body>
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
 	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
 	<script src="{% static 'subgoal/js/jquery-impromptu.js' %}"></script>
 	<script src="{% static 'subgoal/js/experiment.js' %}"></script>
 	<script src="{% static 'subgoal/js/helper.js' %}"></script>
 	<script src="{% static 'subgoal/js/subgoal.js' %}"></script>
	<script src="{% static 'subgoal/js/play_events.js' %}"></script>
	<script src="{% static 'subgoal/js/instructions.js' %}"></script>
 	<script src="{% static 'subgoal/js/briefing.js' %}"></script>
	<script src="{% static 'subgoal/js/info.js' %}"></script>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-50588756-1', 'mit.edu');
	  ga('send', 'pageview');

	</script>
</html>