{% load staticfiles %}
{% csrf_token %}

<html>
<head>
	<meta property="og:image" content="http://crowdy.juhokim.com/static/subgoal/img/flow_1.png" />
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <meta charset="utf-8" />
    <title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'subgoal/css/styles.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'subgoal/css/jquery-impromptu.css' %}" />
</head>
	<body>
		<div id="toolbar">
			<span id="page_title">
				<a class="toolbar_text" href="{% url 'index' %}">crowdy</a>
			</span>
			<span id="help_link">
				<a class="toolbar_text" href="{% url 'help' %}">Help</a>
			</span>
			<span id="about_link">
				<a class="toolbar_text" href="{% url 'about' %}">About</a>
			</span>
		</div>
		<div class='social_sidebar'>
			<div class="fb-share-button" data-href="http://crowdy.juhokim.com/" data-type="button"></div><br>
			<br>
			<a href="https://twitter.com/share" class="twitter-share-button" data-related="jasoncosta" data-lang="en" data-count="none">Tweet</a>
		</div>
		<div id="instr_bar_top_play">
			<div id="video_title">

			</div>
			<a id="video_author">

			</a>
		</div>
		<div class="wrapper">
			<div class="content_wrapper">
				<div class="left">
					<div class="wiki_wrap">
						<div class="wiki_head">
							<span id="wiki_title">Wiki Video Outline</span>
							<!-- <button type="button" class="addButton">Add a label</button> -->
							<button type="button" class="printButton">
								Print
							</button>
						</div>
						<ul id="sortable" class="video_steps">

						</ul>
					</div>
				</div>

				<div class="right">
<!-- 					<div id="save_progress">
						<button type="button" class="solidButton progressButton">Save Outline</button>
					</div> -->

					<div id="inp_box">
						<div class="dq_input">
							<h2>
								What was the overall goal of the video section you just watched?
							</h2>
							<p>
								e.g., Create event handlers
							</p>
							<p>
								Note: Other users will see your outline to help them better understand the steps in the video.
							</p>
							<span><input type="textarea" class="q_input" tabindex=1></span>
							<button type="button" class="submitButton" tabindex=2>Submit</button><span>
							<button type="button" class="ppButton" tabindex=3>Cancel</button></span>
						</div>
						<div class="dq_input_2">
							<h2>
								Which of the following best describes the video section you just watched?
							</h2>
							<p>
								Choose the best answer (submitted by other users) or add your own.
							</p>
							<div class="mult_choice_options">
								<input type="radio" name="step1" class="q_choice"><label>Option 1</label></input><br>
								<input type="radio" name="step1" class="q_choice"><label>Option 2</label></input><br>
								<input type="radio" name="step1" class="q_choice"><label>Option 3</label></input><br>
								<input type="radio" name="step1" class="q_choice"><label>Option 4</label></input><br>
								<input type="radio" name="step1" class="q_choice">I have a better answer: <input type="text" class="q_input"></input><br>
								<input type="radio" name="step1" class="q_input">None apply</input><br>
							</div>
							<button type="button" class="submitButton" tabindex=2>Submit</button>
							<button type="button" class="cancelButton" tabindex=2>Cancel</button>
							<div id="test"></div>
						</div>
						<div class="dq_input_3">
							<h2 id="stage3_ques">
								Does the below statement (submitted by other users) accurately summarize the steps?
							</h2>
<!-- 							<p class="sub_instr">
								Feel free to add your own or decide that none apply. Subheadings for the wiki outline should be consistent!
							</p> -->
							<p class="sub_instr">
								Tip: Good statements usually begin with a verb.
							</p>
							<div class="static_box">
								<p class="sub_label">

								</p>
								<div class="steps_list">

								</div>
							</div>
							<div class="mult_choice_options_stage3">
								<!-- <input type='radio' name='step1' value='yes' class='q_choice'><label>This statement applies</label></input><br> -->
								<label><input type='radio' name='step1' class='q_choice' value='yes'>This statement applies</input></label><br>
								<label><input type='radio' name='step1' class='q_choice' value='none'>There should be nothing here</input></label><br>
								<label class='new_subgoal_option'><input type='radio' name='step1' value='new' class='q_choice q_new'>I have a better answer: <input type='text' class='q_input' id='new_answer_s3'></input></label><br>
							</div>

							<button type="button" class="submitButton" tabindex=2>Submit</button>
							<button type="button" class="cancelButton" tabindex=2>Cancel</button>
							<div id="test"></div>
						</div>
						<div class="dq_help">
							<div class="dq_help_text">
								<!-- Feel free to edit or move around the labels if they don't look right. -->
							</div>
						</div>
						<div class="dq_instr">
							<div class="dq_help_text">
								Periodically throughout this video, you'll be asked to summarize what you just watched.
							</div>
						</div>
					</div>
					<div id="player"></div>
<!-- 					<div id='feedback_button'>
						Give us feedback!
					</div>
					<div id='feedback_box'>
						<textarea name='comments' id="feedback_area"></textarea><br>
						<input type='submit' value='Submit' id='comment_submit'></input>
					</div> -->
				</div>
			</div>
		</div>


	</body>
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
 	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
 	<script src="{% static 'subgoal/js/jquery-impromptu.js' %}"></script>
 	<script src="{% static 'subgoal/js/experiment.js' %}"></script>
 	<script src="{% static 'subgoal/js/helper.js' %}"></script>
 	<script src="{% static 'subgoal/js/subgoal.js' %}"></script>
 	<script>

 		var stage = 1;

		var video_json = JSON.stringify({{video|safe}});
		var video = JSON.parse(video_json)[0];
		var youtube_id = video["youtube_id"];
		console.log(video, video["title"], video["id"]);

		$("title").html(video['title']);

		var exp_session_json = JSON.stringify({{exp_session|safe}});
		var exp_session = JSON.parse(exp_session_json)[0];
		Experiment.setup(exp_session);

		// read steps and sort by time
		var steps_json = JSON.stringify({{steps|safe}});
		var steps_unsorted = JSON.parse(steps_json);
		var steps = [];
		for (var i in steps_unsorted)
      		steps.push([steps_unsorted[i], steps_unsorted[i]["time"]]);
		steps.sort(function(a, b) {return a[1] - b[1]});
		console.log(steps);

		// read subgoals and sort by time
		var subgoals_json = JSON.stringify({{subgoals|safe}});
		var subgoals = JSON.parse(subgoals_json);;
		subgoals.sort(function(a, b) {return a["time"] - b["time"]});
		Subgoal.data = subgoals;
		console.log(Subgoal.data);

		// format steps to make compatible with Sarah's code
		// TODO: restructure
		var video_steps = {}; 	// video_data.video_steps;
		var step_times = {};	// video_data.step_times;
		step_times["step0"] = 0.0;
		for (var i=0; i<steps.length; i++){
			video_steps["step" + (i+1)] = steps[i][0]["label"];
			step_times["step" + (i+1)] = steps[i][0]["time"];
		}
		console.log(video_steps);
		console.log(step_times);

		generate_steps(video_steps);
		load_video_title(video["title"]);
		getYouTubeAuthor(youtube_id)
		// we're not currently showing all the subgoals
		if (Experiment.isAdmin)
			Subgoal.displayAll(step_times);
			// add_subgoals_new(subgoals, step_times);
		// var pre_groups = group_subgoals_new(subgoals, video_steps, step_times);
		var pre_groups = Subgoal.group(video_steps, step_times);
		var subgoal_groups = pre_groups[0];
		var time_groups = pre_groups[1];
		var rel_steps = pre_groups[2];


		// apply different experimental conditions
		if (!(Experiment.isStepShown))
			$(".frozen").hide();
 	</script>

	<script src="{% static 'subgoal/js/play_subgoals.js' %}"></script>
	<script src="{% static 'subgoal/js/play_events.js' %}"></script>
	<script src="{% static 'subgoal/js/instructions.js' %}"></script>
	<script src="{% static 'subgoal/js/briefing.js' %}"></script>
	<script src="{% static 'subgoal/js/double_prompt.js' %}"></script>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-50588756-1', 'mit.edu');
	  ga('send', 'pageview');

	</script>
	<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</html>