{% load staticfiles %}
{% csrf_token %}

<html>
<head>
    <meta charset="utf-8" />
    <title>Video tutorials</title>    
	<link rel="stylesheet" type="text/css" href="{% static 'subgoal/css/styles.css' %}" />
</head>
	<body>
		<div class="wrapper">
			<div id="toolbar">
				<span id="page_title">
					<a href="{% url 'index' %}">< All tutorial videos</a>
				</span>
<!-- 				<span id="help_link">
					How to use this site
				</span> -->
			</div>
			<h1 id="video_title">

			</h1>
			<div class="content_wrapper">
				<div class="left">
					<div class="wiki_wrap">
						<div class="wiki_head">
							<span id="wiki_title">Wiki Video Outline</span>
							<button type="button" class="addButton">Add a label</button>
						</div>
						<ul id="sortable" class="video_steps">

						</ul>
					</div>
				</div>

				<div class="right">
<!-- 					<div id="save_progress">
						<button type="button" class="solidButton progressButton">Save Outline</button>
					</div> -->

					<div id="inp_box">
						<div class="dq_input">
							<h2>
								What was the overall goal of the video section you just watched?
							</h2>
							<p>
								e.g., Mix the dry ingredients
							</p>
							<span><input type="textarea" class="q_input" tabindex=1></span>
							<button type="button" class="submitButton" tabindex=2>Submit</button><span>
							<button type="button" class="ppButton" tabindex=3>There wasn't one</button></span>
						</div>
						<div class="dq_input_2">
							<h2>
								Which of the following best describes the video section you just watched?
							</h2>
							<p>
								Choose the best answer or add your own.
							</p>
							<div class="mult_choice_options">
								<input type="radio" name="step1" class="q_choice"><label>Option 1</label></input><br>
								<input type="radio" name="step1" class="q_choice"><label>Option 2</label></input><br>
								<input type="radio" name="step1" class="q_choice"><label>Option 3</label></input><br>
								<input type="radio" name="step1" class="q_choice"><label>Option 4</label></input><br>
								<input type="radio" name="step1" class="q_choice">I have a better answer: <input type="text" class="q_input"></input><br>
								<input type="radio" name="step1" class="q_input">None apply</input><br>
							</div>
							<button type="button" class="submitButton" tabindex=2>Submit</button>
							<button type="button" class="cancelButton" tabindex=2>Cancel</button>
							<div id="test"></div>
						</div>
						<div class="dq_help">
							<div class="dq_help_text">
								Feel free to edit or move around the labels if they don't look right.
							</div>
						</div>
						<div class="dq_instr">
							<div class="dq_help_text">
								Periodically throughout this video, you'll be asked to summarize what you just watched.
							</div>
						</div>
					</div>
					<div id="player"></div>
				</div>
			</div>
		</div>

		
	</body>
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
 	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
 	<script src="{% static 'subgoal/js/experiment.js' %}"></script>
 	<script src="{% static 'subgoal/js/helper.js' %}"></script>
	<!-- // <script src="{% static 'subgoal/js/test_stage2.js' %}"></script> -->
 	<script>
 		var stage = 1; 


		var video_json = JSON.stringify({{video|safe}});
		var video = JSON.parse(video_json)[0];
		var youtube_id = video["youtube_id"];
		console.log(video, video["title"], video["id"]);

		// read steps and sort by time
		var steps_json = JSON.stringify({{steps|safe}});
		var steps_unsorted = JSON.parse(steps_json);
		var steps = [];
		for (var i in steps_unsorted)
      		steps.push([steps_unsorted[i], steps_unsorted[i]["time"]])
		steps.sort(function(a, b) {return a[1] - b[1]})
		console.log(steps);		

		// read subgoals and sort by time
		var subgoals_json = JSON.stringify({{subgoals|safe}});
		var subgoals_unsorted = JSON.parse(subgoals_json);
		var subgoals = [];
		for (var i in subgoals_unsorted)
      		subgoals.push([subgoals_unsorted[i], subgoals_unsorted[i]["time"]])
		subgoals.sort(function(a, b) {return a[1] - b[1]})
		console.log(subgoals);

		// format steps to make compatible with Sarah's code
		// TODO: restructure
		var video_steps = {}; 	// video_data.video_steps;
		var step_times = {};	// video_data.step_times;
		step_times["step0"] = 0.0;
		for (var i=0; i<steps.length; i++){
			video_steps["step" + (i+1)] = steps[i][0]["label"];
			step_times["step" + (i+1)] = steps[i][0]["time"];
		}
		console.log(video_steps);
		console.log(step_times);

		// format subgoals to make compatible with Sarah's code
		// TODO: restructure
		var formatted_subgoals = {};
		for (var i=0; i<subgoals.length; i++){
			formatted_subgoals["sub" + (i+1)] = subgoals[i][0];
		}

		generate_steps(video_steps);
		load_video_title(video["title"]);
		// add_subgoals(formatted_subgoals, step_times);
		var pre_groups = group_subgoals(formatted_subgoals, video_steps, step_times);
		var subgoal_groups = pre_groups[0];
		var time_groups = pre_groups[1];
		var rel_steps = pre_groups[2];

		console.log(getParameterByName("step"), getParameterByName("random2"), getParameterByName("random")==1);
		if (getParameterByName("interval") != "" && isInt(getParameterByName("interval")))
			Experiment.questionInterval = getParameterByName("interval");
		Experiment.isQuestionRandom = getParameterByName("random")==1 ? true : false;
		Experiment.isStepShown = getParameterByName("step")==1 ? true : false;
		if (!(Experiment.isStepShown))
			$(".frozen").hide();		
 	</script>

	<script src="{% static 'subgoal/js/play_subgoals.js' %}"></script>
	<script src="{% static 'subgoal/js/stage1_events.js' %}"></script> 	
</html>