{% load staticfiles %}
{% csrf_token %}

<html>
<head>
    <meta charset="utf-8" />
    <title>Video tutorials</title>    
	<link rel="stylesheet" type="text/css" href="{% static 'subgoal/css/styles.css' %}" />
</head>
	<body>
		<div class="wrapper">
			<div class="content_wrapper">
				<div id="splash_page_title">
					Basic web programming tutorials
				</div>
				<div class="videos_wrapper">
					<div class="splash_page_subtitle">
						HTML tutorials
					</div>
					<div class="video_link" id="AVujCueerIQ">
						<a class="actual_link"><span class="empty_span"></span></a>
						<div class="video_link_title">
							
						</div>
						<div class="video_link_description">
							
						</div>
						<div class="video_link_length">
							
						</div>
						<img class="video_thumb" ></img>
					</div>
					<div class="video_link" id="DqkFSL_Rgw0">
						<a class="actual_link"><span class="empty_span"></span></a>
						<div class="video_link_title">
							
						</div>
						<div class="video_link_description">
							
						</div>
						<div class="video_link_length">
							
						</div>
						<img class="video_thumb" ></img>
					</div>
					<div class="video_link" id="xriARD6L8o8">
						<a class="actual_link"><span class="empty_span"></span></a>
						<div class="video_link_title">
							
						</div>
						<div class="video_link_description">
							
						</div>
						<div class="video_link_length">
							
						</div>
						<img class="video_thumb" ></img>
					</div>
					<div class="video_link" id="vmkVvfFMAKM">
						<a class="actual_link"><span class="empty_span"></span></a>
						<div class="video_link_title">
							
						</div>
						<div class="video_link_description">
							
						</div>
						<div class="video_link_length">
							
						</div>
						<img class="video_thumb" ></img>
					</div>
					<div class="video_link" id="BBcq9abR9Es">
						<a class="actual_link"><span class="empty_span"></span></a>
						<div class="video_link_title">
							
						</div>
						<div class="video_link_description">
							
						</div>
						<div class="video_link_length">
							
						</div>
						<img class="video_thumb" ></img>
					</div>
					<div class="video_link" id="jC13S2rS_6U">
						<a class="actual_link"><span class="empty_span"></span></a>
						<div class="video_link_title">
							
						</div>
						<div class="video_link_description">
							
						</div>
						<div class="video_link_length">
							
						</div>
						<img class="video_thumb" ></img>
					</div>
					<div class="video_link" id="CKlh1lwe2rY">
						<a class="actual_link"><span class="empty_span"></span></a>
						<div class="video_link_title">
							
						</div>
						<div class="video_link_description">
							
						</div>
						<div class="video_link_length">
							
						</div>
						<img class="video_thumb" ></img>
					</div>

					
					<div class="splash_page_subtitle">
						CSS tutorials
					</div>
					<div class="video_link" id="hb5JJvmS2RE">
						<a class="actual_link"><span class="empty_span"></span></a>
						<div class="video_link_title">
							
						</div>
						<div class="video_link_description">
							
						</div>
						<div class="video_link_length">
							
						</div>
						<img class="video_thumb" ></img>
					</div>
					<div class="video_link" id="kr2NTnAPVB0">
						<a class="actual_link"><span class="empty_span"></span></a>
						<div class="video_link_title">
							
						</div>
						<div class="video_link_description">
							
						</div>
						<div class="video_link_length">
							
						</div>
						<img class="video_thumb" ></img>
					</div>
					<div class="video_link" id="umur56M0ScA">
						<a class="actual_link"><span class="empty_span"></span></a>
						<div class="video_link_title">
							
						</div>
						<div class="video_link_description">
							
						</div>
						<div class="video_link_length">
							
						</div>
						<img class="video_thumb" ></img>
					</div>
					<div class="video_link" id="aFtByxWjfLY">
						<a class="actual_link"><span class="empty_span"></span></a>
						<div class="video_link_title">
							
						</div>
						<div class="video_link_description">
							
						</div>
						<div class="video_link_length">
							
						</div>
						<img class="video_thumb" ></img>
					</div>
					
					<div class="video_link" id="KYT_Ch3dTB8">
						<a class="actual_link"><span class="empty_span"></span></a>
						<div class="video_link_title">
							
						</div>
						<div class="video_link_description">
							
						</div>
						<div class="video_link_length">
							
						</div>
						<img class="video_thumb" ></img>
					</div>
					<div class="video_link" id="iRSqEL8xSVk">
						<a class="actual_link"><span class="empty_span"></span></a>
						<div class="video_link_title">
							
						</div>
						<div class="video_link_description">
							
						</div>
						<div class="video_link_length">
							
						</div>
						<img class="video_thumb" ></img>
					</div>
					<div class="video_link" id="Awmx8XlgcaE">
						<a class="actual_link"><span class="empty_span"></span></a>
						<div class="video_link_title">
							
						</div>
						<div class="video_link_description">
							
						</div>
						<div class="video_link_length">
							
						</div>
						<img class="video_thumb" ></img>
					</div>
					<div class="video_link" id="H3KESBQTD8k">
						<a class="actual_link"><span class="empty_span"></span></a>
						<div class="video_link_title">
							
						</div>
						<div class="video_link_description">
							
						</div>
						<div class="video_link_length">
							
						</div>
						<img class="video_thumb" ></img>
					</div>
					
					<div class="video_link" id="ptk0ldFkFSc">
						<a class="actual_link"><span class="empty_span"></span></a>
						<div class="video_link_title">
							
						</div>
						<div class="video_link_description">
							
						</div>
						<div class="video_link_length">
							
						</div>
						<img class="video_thumb" ></img>
					</div>
				</div>

			</div>
		</div>
		
	</body>
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
 	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
 	<script src="{% static 'subgoal/js/splash_page.js' %}"></script>
	
</html>