<html>
<head>
    <meta charset="utf-8" />
    <title>Video tutorials</title>    
 	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'subgoal/css/styles.css' %}" />
</head>
	<body>
		<div class="wrapper">
			<div class="content_wrapper">
				<div id="splash_page_title">
					Basic web programming tutorials
				</div>
				<div class="videos_wrapper">
					<div class="splash_page_subtitle">
						HTML tutorials
					</div>
					<div class="video_link" id="yKW4F0Nu-UY">
						<a class="actual_link"><span class="empty_span"></span></a>
						<div class="video_link_title">
							
						</div>
						<div class="video_link_description">
							
						</div>
						<div class="video_link_length">
							
						</div>
						<img class="video_thumb" ></img>
					</div>
					<div class="video_link" id="qQRrk3StTVE">
						<a class="actual_link"><span class="empty_span"></span></a>
						<div class="video_link_title">
							
						</div>
						<div class="video_link_description">
							
						</div>
						<div class="video_link_length">
							
						</div>
						<img class="video_thumb" ></img>
					</div>
					<div class="video_link" id="05-xo3qWOW0">
						<a class="actual_link"><span class="empty_span"></span></a>
						<div class="video_link_title">
							
						</div>
						<div class="video_link_description">
							
						</div>
						<div class="video_link_length">
							
						</div>
						<img class="video_thumb" ></img>
					</div>
					<div class="video_link" id="iL5rJj6p160">
						<a class="actual_link"><span class="empty_span"></span></a>
						<div class="video_link_title">
							
						</div>
						<div class="video_link_description">
							
						</div>
						<div class="video_link_length">
							
						</div>
						<img class="video_thumb" ></img>
					</div>
					<div class="video_link" id="po85lER-qRo">
						<a class="actual_link"><span class="empty_span"></span></a>
						<div class="video_link_title">
							
						</div>
						<div class="video_link_description">
							
						</div>
						<div class="video_link_length">
							
						</div>
						<img class="video_thumb" ></img>
					</div>
					<div class="video_link" id="r3jBATBQU9w">
						<a class="actual_link"><span class="empty_span"></span></a>
						<div class="video_link_title">
							
						</div>
						<div class="video_link_description">
							
						</div>
						<div class="video_link_length">
							
						</div>
						<img class="video_thumb" ></img>
					</div>
					<div class="splash_page_subtitle">
						CSS tutorials
					</div>
					<div class="video_link" id="Aa0XtJdHPvI">
						<a class="actual_link"><span class="empty_span"></span></a>
						<div class="video_link_title">
							
						</div>
						<div class="video_link_description">
							
						</div>
						<div class="video_link_length">
							
						</div>
						<img class="video_thumb" ></img>
					</div>
					<div class="video_link" id="BorGDpS8qLQ">
						<a class="actual_link"><span class="empty_span"></span></a>
						<div class="video_link_title">
							
						</div>
						<div class="video_link_description">
							
						</div>
						<div class="video_link_length">
							
						</div>
						<img class="video_thumb" ></img>
					</div>
					<div class="video_link" id="6r_FPvSn0RY">
						<a class="actual_link"><span class="empty_span"></span></a>
						<div class="video_link_title">
							
						</div>
						<div class="video_link_description">
							
						</div>
						<div class="video_link_length">
							
						</div>
						<img class="video_thumb" ></img>
					</div>
				</div>

			</div>
		</div>
	</body>
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
 	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
 	<script src="{% static 'subgoal/js/splash_page.js' %}"></script>
	
</html>